.btn-style {
    border: 2px solid #fff !important;
    color: #fff !important;
    background-color: transparent !important;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-style:hover {
    background-color: #fff !important;
    color: #000 !important;
    border: 2px solid #fff !important;
}

.icono {
    cursor: pointer !important;
}
