    .list-container {
        width: 100%;
        overflow-x: hidden;
    }
    .category-container {
        margin-bottom: 40px;
        position: relative;
    }

    .category-title {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .arrow-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        border: none;
        color: white;
        padding: 15px;
        cursor: pointer;
    }
    .arrow-left {
        left: 0;
    }
    .arrow-right {
        right: 0;
    }
    .movies-container {
        display: flex;
        overflow-x: auto;
        scroll-behavior: smooth;
        padding-left: 40px;
        padding-right: 40px;
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
    .movies-container::-webkit-scrollbar {
        display: none;
    }
    .movie-card-container {
        flex: 0 0 auto;
        margin-right: 16px;
        width: 400px;
    }
    .card-img {
        height: 500px;
        object-fit: cover;
    }

    .btn-v2{
        display: flex;
        width: 150px;
        border: 1px solid red;
        margin: 5px auto 15px auto;
        justify-content: center;
    }

